<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });
        </script>
    </head>
    
    <div id="includedContent"></div>

    <body>
        
        <div class="container">

	        <div class="starter-template">
		        <h1 class="fondoBlanco">Contactenos</h1>
                <div class="fondoBlanco cuerpo">
                    <br>
    		        <p class="lead">bla bla bla</p>
    		        <p class="lead">Si encuentra algun problema no dude en comunicarse a este <a href="mailto:noreply@google.com">email</a></p>
                </div>
	      	</div>

        </div><!-- /.container -->

      </body>

</html>
