<html>
    <head>
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="/sumer/dist/summernote.css" />
        
        <script src="static/js/jquery-3.3.1.js"></script>
        
        <script src="static/js/bootstrap.min.js"></script>
        <script src="static/sumer/dist/summernote.js"></script>
        
        <script src="static/js/grupos.js"></script>
        
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });
            var uDataGlobal 
            var idGrupoActual = 0


        </script>
        <link rel="stylesheet" href="static/css/estilos.css" />
        <link rel="stylesheet" href="static/fontello-59b3e585/css/grcfuente.css">

    </head>

    <div id="includedContent"></div>

    <body>
        <div id="menuGrupos">
            Grupos:     
        </div>
        <div id="grupoDeReferencias">
            <div id="divGrupoActual" class="referencia">
                <div class="clsTitulo"> <label id="lblNombreGrupo"></label></div>
                <div class="container">
                    Descripcion del Grupo:<label id="lblDescripcionGrupo"></label><br>
                    ID Del Grupo:<label id="lblIdGrupo"></label><br>
                    Usuario Logueado: <label id="lblUsuarioLogueado"></label><br>
                    Cantidad de citas: <label id="lblCantidadCitas"></label><br>
                    Permiso En el grupo:<label id="lblPermisoEnGrupo"></label><br>

                </div>
            </div>
            <div id="divAgregarGrupo" class="referencia">
                <div class="clsTitulo"> Creacion de Grupos</div>
                <div class="container">
                    <div class="refColumnaIzquierda">
                        Nombre Del Grupo:<br>
                        <input id="txtNombreDelGrupo" type="text" name=""><br>
                        Descripcion Del Grupo:<br>
                        <input id="txtDescripcionDelGrupo" type="text" name=""><br>
                        Fotico:<br>
                        <input type="text" name=""><br>
                        <button id="btnCrearGrupo" class="btn btn-primary">Crear Grupo</button>
                    </div>
                    <div id="divAdminGrupo" class="referencia">
                        <div class="clsTitulo"> Panel de control... MATAR USUARIOS</div>
                        <div class="container">
                            Invitar USUSARIO:<br>
                            <input id="txtMailDeUsuario" type="text" name=""><br>
                            ste inmp no lo uso:<br>
                            <input type="text" name=""><br>
                            Este tampoco:<br>
                            <input type="text" name=""><br>
                            <button id="btnInvitarUsuario" class="btn btn-primary">Invitar</button>
                        </div>
                    </div>
                    <div class="refColumnaDerecha">



                    </div>
                </div>
            </div>
            <div div id="divPublicarReferencia" class="referencia">
                <h1 >Publicar</h1>
                <br>
                <p>Referencia:</p> 
                <div class="container">
                    <div id="summernote">
                        <p>Escriba su publicacion.</p>
                    </div>
                </div>

                Descripcion : <input type="text" id="descripcion" value="Escriba aqui"><br>
                Link: <input type="text" id="link" value="Escriba aqui"><br>
                <button id="btnEnviar" class="btn btn-primary">Publicar</button>
            </div>


                <div id="divContenedorReferencias" class="referenciaContenedora">
            </div>
            
        </div>
    
    </body>
</html>
