<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });
            $(document).ready(function(){

                $("#divBoton").mouseenter(entraMouse());
                $("#divBoton").mouseenter(saleMouse());


                misCookies = document.cookie
                listaCookies = misCookies.split(";")

                for (i in listaCookies) {
                    busca = listaCookies[i].search("idUsuarioLogueado");
                    if (busca > -1) {
                        micookie=listaCookies[i]
                        igual = micookie.indexOf("=");
                        valor = micookie.substring(igual+1);
                    }
                }
                
                $("body").on("click",".btnGrupos",function(){
                    document.cookie = "idGrupoLogueado=" + this.id.substring(this.id.indexOf("=")+1);
                    window.location.href = ('http://localhost:5000/inicio')
                });


                $.ajax({
                    data : {
                        "usuario" : valor,
                    },
                    url : "cargarListaGrupo",
                    type : "POST",
                    beforeSend : function() {
                        $('#gruposLista').html("Cargando Grupos");
                    },
                    success : function(response) {
                        $('#gruposLista').html(response);
                        alert("Tengo un response");
                    },
                    error : function(response) {
                        $('#divUsuarioSinGrupo').show()
                        $.ajax({
                            url: "traerTodosGrupos",
                            success: function(response){
                                $('#lblCantGrupos').text(response.length);
                                console.log(response);
                                var opcion = document.createElement("option");
                                $('#lstGrupos').empty();
                                opcion.text = "Seleccione un grupo"
                                opcion.value = "vacio"
                                $('#lstGrupos').append(opcion);
                                for (i = 0; i < response.length;i++){
                                    var opcion = document.createElement("option");
                                    opcion.text = response[i][1];
                                    opcion.value = i
                                    $('#lstGrupos').append(opcion);
                                    console.log("Agregando: ", response[i][1])
                                }
                            },
                            error: function(response){alert("error")}
                        });

                    }
                });
            });

function entraMouse(){
    miboton=document.getElementById("divBoton");
    console.log("entra");
}
function saleMouse(){
    miboton=document.getElementById("divBoton");
    console.log("Sale")
}

        </script>
        <link rel="stylesheet" href="static/css/estilos.css" />
    </head>

    <style type="text/css">
        
        

    </style>
    
    <div id="includedContent"></div>

    <body>
        
        <div id = "divUsuarioSinGrupo" class="container row fondoBlanco">
            <div>
                No estas en ningun grupo amiguen!
                <div>
                    Grupos Disponibles: <label id = lblCantGrupos>0</label>
                    <br>
                    <select id="lstGrupos">
                        
                    </select>
                    <input type="button" value=""></input>
                    <div class = "divBoton">Solicitar ingreso</div>
                </div>

            </div>
        
        </div><!-- /.container -->

    </body>
    <nav class="navbar navbar-inverse navbar-expand-sm navbar-fixed-bottom miPie">
        <a>Fixed bottom</a>
    </nav>
            
</html>