<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });
            $(document).ready(function(){
                

                $("#divBoton").mouseenter(entraMouse);
                $("#divBoton").mouseleave(saleMouse);
                $("#divBoton").mouseup(clickMouse);
                

                misCookies = document.cookie
                listaCookies = misCookies.split(";")

                for (i in listaCookies) {
                    busca = listaCookies[i].search("idUsuarioLogueado");
                    if (busca > -1) {
                        micookie=listaCookies[i]
                        igual = micookie.indexOf("=");
                        valor = micookie.substring(igual+1);
                    }
                }
                
                $("body").on("click",".btnGrupos",function(){
                    document.cookie = "idGrupoLogueado=" + this.id.substring(this.id.indexOf("=")+1);
                    window.location.href = ('http://localhost:5000/inicio')
                });


                $.ajax({
                    data : {
                        "usuario" : valor,
                    },
                    url : "cargarListaGrupo",
                    type : "POST",
                    beforeSend : function() {
                        $('#gruposLista').html("Cargando Grupos");
                    },
                    success : function(response) {
                        $('#gruposLista').html(response);
                        console.log("Asi llega");
                        console.log(response);
                        for(i=0; i < response.length; i++){
                            $("#columnaIzquierda").append('<br><img id = "IMG'+String(i)+'" div="grupoFoto" class="img-circle GrupIMG" src="https://image.flaticon.com/icons/svg/25/25340.svg" alt="Generic placeholder image" width="50" height="50"><br>'+response[i][1]);
                            console.log("El id del grupo es lalala:",response[i][0])
                            $("#IMG"+i).data('elNombre', String(response[i][1]))
                            

                        }
                    },
                    error : function(response) {
                        $('#divUsuarioSinGrupo').show()
                        $.ajax({
                            url: "traerTodosGrupos",
                            success: function(response){
                                $('#lblCantGrupos').text(response.length);
                                console.log(response);
                                var opcion = document.createElement("option");
                                $('#lstGrupos').empty();
                                opcion.text = "Seleccione un grupo"
                                opcion.value = "vacio"
                                $('#lstGrupos').append(opcion);
                                for (i = 0; i < response.length;i++){
                                    var opcion = document.createElement("option");
                                    opcion.text = response[i][1];
                                    opcion.value = i
                                    $('#lstGrupos').append(opcion);
                                    console.log("Agregando: ", response[i][1])
                                }
                            },
                            error: function(response){alert("error")}
                        });

                    }
                });
                
                    
                    

            });
              
            $(document).on('click', ".GrupIMG", function() {
                    console.log("click en img " + $(this).attr('id') );
                    console.log($(this).data('elNombre'));
            });
            
function clickEnFuncion(){
    console.log("SOY EL GRUPO 1");
}
function entraIMG0(){
    console.log("Soy el grupo 0");
}

function entraMouse(){
    miboton=document.getElementById("divBoton");
    console.log("entra");
}
function saleMouse(){
    miboton=document.getElementById("divBoton");
    console.log("Sale")
}
function clickMouse(){
    console.log("Ac")
}
function mouseUp(){
    console.log("click")
}
        </script>
        <link rel="stylesheet" href="static/css/estilos.css" />
    </head>

    <style type="text/css">
        
        

    </style>
    
    <div id="includedContent"></div>

    <body>
        
        <div id = "divUsuarioSinGrupo" class="container row fondoBlanco">
            <div id="columnaIzquierda">
                SOY LA DIV WUJUJUUUUUUUUUUUUUUUUUUU            </div>
            <div>

                No estas en ningun grupo amiguen!
                <div>
                    Grupos Disponibles: <label id = lblCantGrupos>0</label>
                    <br>
                    <select id="lstGrupos">
                        
                    </select>
                    <input type="button" value=""></input>
                    
                </div>

            </div>
        
        </div><!-- /.container -->

    </body>
    <nav class="navbar navbar-inverse navbar-expand-sm navbar-fixed-bottom miPie">
        <a>Fixed bottom</a>
    </nav>
            
</html>
