<!DOCTYPE html>
<html>
    <head>

        <title>GRC</title>


        
            <script>
                $(document).ready(function(){
                    console.log("En header 1")
                    misCookies = document.cookie
                    listaCookies = misCookies.split(";")

                    for (i in listaCookies) {
                        busca = listaCookies[i].search("idUsuarioLogueado");
                        if (busca > -1) {
                            micookie=listaCookies[i]
                            igual = micookie.indexOf("=");
                            valor = micookie.substring(igual+1);
                            console.log("SOY HEADER show:");
                            $(".tstB").show();
                            $("#menuInicio").text("Cerrar")
                        }
                        else{
                            console.log("SOY HEADER hide:", busca);
                            $(".tstB").hide();

                        }
                    }
                });
            </script>
            <!-- Bootstrap core CSS -->
            <link href="css/bootstrap.min.css" rel="stylesheet">

    </head>

    <link rel="stylesheet" href="static/css/estilos.css" />

    <body class="fondo">

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">GRC</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a id="menuInicio" href="/">Inicio</a></li>
                    <li><a href="/info">Informacion</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                    <li><a class ="tstB" href="/contacto">Referencia</a></li>
                    <li><a id="detectame123" class ="tstB casd">Nue Publicacion</a></li>
            

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

  </body>
</html>
