<html>
    <head>
        <link rel="stylesheet" href="static/css/estilos.css" />
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });

            $(function() {
              $('#login-form-link').click(function(e) {
                $("#login-form").delay(100).fadeIn(100);
                $("#register-form").fadeOut(100);
                $('#register-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
              });

              $('#register-form-link').click(function(e) {
                $("#register-form").delay(100).fadeIn(100);
                $("#login-form").fadeOut(100);
                $('#login-form-link').removeClass('active');
                $(this).addClass('active');
                e.preventDefault();
              });
            });

            $(document).ready(function(){
                limpiameLaCoockie();
                $("#login-submit").click(function(){
                    inciarSesion();
                });
                
                $("#register-submit").click(function(){
                    registrarUsuario();
                });
            });
            
function limpiameLaCoockie(){
    console.log("Te voy a borrar la cookie")
    document.cookie = "idUsuarioLogueado=;expires=Thu, 01 Jan 1970 00:00:01 GMT;"
}
function registrarUsuario(){
    if($("#apellido").val() != "" &&
       $("#nombre").val() != "" &&
       $("#emailr").val() != "" &&
       $("#passwordr").val() != "" &&
       $("#confirm-password").val() != ""){
          console.log($("#apellido").val());
          console.log($("#nombre").val());
          console.log($("#emailr").val());
          console.log($("#passwordr").val());

          $.ajax({
            url : "crearUsuario",
            type : "POST",
            data : {
              apellido : $("#apellido").val(),
              nombre : $("#nombre").val(),
              email : $("#emailr").val(),
              password : $("#passwordr").val()
            },
            success: function(response){
                console.log(response);
                alert("Bien");
            },
            error: function(response){
                console.log("Error en algo");
            }
          });
      }
      else{
        alert("Completa todos los campos");
      }
}

function inciarSesion(){
    if($("#email").val() == ""){
      alert("Debe ingresar usuario");
    }
    else if($("#password").val() == ""){
      alert("Debe ingresar password");
    }
    else{
        $.ajax({
            url : "loguearUsuario",
            type : "POST",
            data : {
              usuario : $("#email").val(),
              password : $("#password").val()
            },
            success: function(response){
                console.log(response);
                idUsuarioLogueado = response.id;
                console.log(idUsuarioLogueado);
                document.cookie = "idUsuarioLogueado=" + idUsuarioLogueado;
                window.location.href = ('http://localhost:5000/grupos?'+idUsuarioLogueado)
            },
            error: function(response){
                alert("usuario o contraseña incorrectos");
            }
        });
    }
}





        </script>
    </head>

    
    <div id="includedContent"></div>

    <body>
        
        <div class="container">

          <div class="starter-template">
            <h1 class="fondoBlanco">Gestor de Referencias Colaborativas</h1>
          </div>

      <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-6">
                <a href="#" class="active" id="login-form-link">Iniciar</a>
              </div>
              <div class="col-xs-6">
                <a href="#" id="register-form-link">Registrarse</a>
              </div>
            </div>
            <hr>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="login-form" role="form" style="display: block;">
                  <div class="form-group">
                    <input type="text" name="email" id="email" tabindex="1" class="form-control" placeholder="Email" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="password" id="password" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group text-center">
                    <input type="checkbox" tabindex="3" class="" name="remember" id="remember">
                    <label for="remember"> Recuerdame</label>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input name="login-submit" id="login-submit" tabindex="4" class="form-control btn btn-login" value="Entrar">
                      </div>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-lg-12">
                        <div class="text-center">
                          <a href="/" tabindex="5" class="forgot-password">Olvidaste tu contraseña?</a>
                        </div>
                      </div>
                    </div>
                  </div>
                </form>
                <form id="register-form" role="form" style="display: none;">
                  <div class="form-group">
                    <input type="text" name="apellido" id="apellido" tabindex="1" class="form-control" placeholder="Apellido" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" name="nombre" id="nombre" tabindex="1" class="form-control" placeholder="Nombre" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" name="emailr" id="emailr" tabindex="1" class="form-control" placeholder="Email" value="">
                  </div>
                  <div class="form-group">
                    <input type="password" name="passwordr" id="passwordr" tabindex="2" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-group">
                    <input type="password" name="confirm-password" id="confirm-password" tabindex="2" class="form-control" placeholder="Confimar Password">
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <input name="register-submit" id="register-submit" tabindex="4" class="form-control btn btn-register" value="Registrar">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

    </div> <!-- /container -->


      </body>
</html>

