<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
                $('#inicio').addClass('active');
                $('#info').removeClass('active');
                $('#contacto').removeClass('active');
            });
        </script>
    </head>
    
    <div id="includedContent"></div>

    <body class="body">
        
        <div class="container">

          <div class="starter-template">
	        <h1>Gestor de Referencias Colaborativas</h1>
	        <p class="lead">info info info info.</p>
	      </div>

        </div><!-- /.container -->

      </body>

</html>