<html>
<head>
    <script src="/js/jquery-3.3.1.js"></script>
    <script>
        $(function(){
            $("#includedContent").load("/header2");
        });

        $(document).ready(function(){
            misCookies = document.cookie
            listaCookies = misCookies.split(";")

            for (i in listaCookies) {
                busca = listaCookies[i].search("idGrupoLogueado");
                if (busca > -1) {
                    micookie=listaCookies[i]
                    igual = micookie.indexOf("=");
                    valor = micookie.substring(igual+1);
                }
            }

            $.ajax({
                    data : {
                        "grupo" : valor,
                    },
                    url : "cargarListaReferencias",
                    type : "POST",
                    beforeSend : function() {
                        $('#referenciasLista').html("Cargando referencias");
                    },
                    success : function(response) {
                        $('#referenciasLista').html(response);
                    },
                    error : function(response) {
                        $('#referenciasLista').html("<div class=\"col-lg-4 fondoBlanco\">El grupo no tiene referencias</div>");
                    }
                });
        });
    </script>
</head>

<div id="includedContent"></div>

<style type="text/css">
    
    body{
        color: black;
    }


    .list-inline li:first-child {
        float: left;
    }

    .list-inline li:nth-child(2) {
        float: right;
    }

</style>


<body>
  
    <div class="container">

        <div class="starter-template">
          
            <div id="referenciasLista" class="container">

            </div>

        </div>

    </div><!-- /.container -->

</body>

</html>