<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header2");
            });
        </script>
    </head>
    
    <div id="includedContent"></div>

    <style type="text/css">
        
    body{
        color: black;
    }


.list-inline li:first-child {
    float: left;
}

.list-inline li:nth-child(2) {
    float: right;
}

    </style>

    <body>
        
        <div class="container">

          <div class="starter-template">
            
            <div class="container">
              <div class="well">
                  <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Entrada 1</h2>
                      <p class="text-right">Por Alguien</p>
                      <p  class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue...</p>
            <br>
                      <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 dias, 8 hs </span></li>
                        <li><span><i class="glyphicon glyphicon-comment"></i> 2 comentarios</span></li>
                        </ul>
                   </div>
                </div>
              </div>
               <div class="well">
                  <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Entrada 2</h2>
                      <p class="text-right">Por Alguien</p>
                      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue...</p>
                <br>
                      <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 dias, 8 hs </span></li>
                        <li><span><i class="glyphicon glyphicon-comment"></i> 2 comentarios</span></li>
                        </ul>
                   </div>
                </div>
              </div>
            <div class="well">
                  <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Entrada 3</h2>
                      <p class="text-right">Por Alguien</p>
                      <p  class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue...</p>
            <br>
                      <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 dias, 8 hs </span></li>
                        <li><span><i class="glyphicon glyphicon-comment"></i> 2 comentarios</span></li>
                        </ul>
                   </div>
                </div>
              </div>
               <div class="well">
                  <div class="media">
                    <div class="media-body">
                        <h2 class="media-heading">Entrada 4</h2>
                      <p class="text-right">Por Alguien</p>
                      <p class="text-left">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis pharetra varius quam sit amet vulputate. 
            Quisque mauris augue, molestie tincidunt condimentum vitae, gravida a libero. Aenean sit amet felis 
            dolor, in sagittis nisi. Sed ac orci quis tortor imperdiet venenatis. Duis elementum auctor accumsan. 
            Aliquam in felis sit amet augue...</p>
                <br>
                      <ul class="list-inline list-unstyled">
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 dias, 8 hs </span></li>
                        <li><span><i class="glyphicon glyphicon-comment"></i> 2 comentarios</span></li>
                        </ul>
                   </div>
                </div>
              </div>  




            </div>









          </div>

        </div><!-- /.container -->

      </body>

</html>