<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    
    <script src="static/js/jquery-3.3.1.js"></script>
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/panelAdmin.js"></script>
    <link rel="stylesheet" href="static/fontello-59b3e585/css/grcfuente.css">
    <script>
            $(function(){
                $("#includedContent").load("/header1");
            });
    </script>
    <link rel="stylesheet" href="static/css/panelAdmin.css" />
    
</head>

<body id="cuerpin">
    <div id="includedContent" style="position:absolute;z-index: 0;"></div>
    <a href="/grupos">Volve papu</a>
    <div id="lstUsuarios" class>Usuario<label class="icon-ok"></label><label class="icon-cancel-1"></label></div>
</body>
</html>
