<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title></title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/sumer/dist/summernote.css" />

    <script src="/js/jquery-3.3.1.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/sumer/dist/summernote.js"></script>
    
  </head>

  <style>
  .mitest{
    margin-top: 50px;
    margin-right: 10px;
    margin-left: 10px;
  }
</style>

  <body>
    <div id="includedContent"></div>
    <div class = "mitest">
        <div class="container">
          <div id="summernote">
            <p>Escriba su publicacion.</p>
          </div>
        </div>
        <div class="container">
          <button id="save" class="btn btn-primary">Publicar</button>
        </div>
    </div>
    <script>

        $(document).ready(function() {
        $('#summernote').summernote({
        height: '300px',
        width: '600px',
        focus: true,
        lang: 'es-ES',
        toolbar: [
        ['style', ['bold', 'italic', 'underline', 'clear']],
        ['fontsize', ['fontsize']],
        ['color', ['color']],
        ['para', ['ul', 'ol', 'paragraph']],
        ['height', ['height']],
        ['insert', ['link']],
        ]
        });
      
      $('#save').on('click', function() {
        var aHTML = $('#summernote').summernote("code"); //save HTML If you need(aHTML: array).
        console.log(aHTML);
      });

      });
        $(function(){
            $("#includedContent").load("/header2");
        });
    </script>
    
  </body>
</html>