<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header1");
            });

            $(document).ready(function(){
                $("#publicar-submit").click(function(){
                    publicarReferencia();
                });
            });

            function publicarReferencia(){
                if($("#cita").val() == "" || $("#cita").val().localeCompare("Escriba aqui") == 0){
                  alert("Debe ingresar una cita");
                }
                else if($("#descripcion").val() == "" || $("#descripcion").val().localeCompare("Escriba aqui") == 0){
                  alert("Debe ingresar una descripcion");
                }
                else if($("#link").val() == "" || $("#link").val().localeCompare("Escriba aqui") == 0){
                  alert("Debe ingresar un link");
                }
                else{
                    $.ajax({
                        url : "publicarReferencia",
                        type : "POST",
                        data : {
                          usuario : 1,
                          grupo : 1,
                          cita : $("#cita").val(),
                          descripcion : $("#descripcion").val(),
                          link : $("#link").val(),
                          tags : "algo",
                        },
                        success: function(response){
                            console.log(response);
                        },
                        error: function(response){
                            alert("Error al cargar la referencia");
                        }
                    });
                }
            }
        </script>
    </head>
    
    <div id="includedContent"></div>

    <body>
        
        <div class="container">

	        <div class="starter-template">
		        <h1 class="fondoBlanco">Publicar</h1>
                <div class="fondoBlanco cuerpo">
                    <br>
                    <p>Referencia:</p> 
                    Cita: <input type="text" id="cita" value="Escriba aqui"><br>
                    Descripcion : <input type="text" id="descripcion" value="Escriba aqui"><br>
                    Link: <input type="text" id="link" value="Escriba aqui"><br>
                    <input type="submit" id="publicar-submit" value="Enviar">
                </div>
	      	</div>

        </div><!-- /.container -->

      </body>

</html>
