<html>
    <head>
        <!-- include libraries(jQuery, bootstrap, fontawesome) -->
  <link href="css/bootstrap.css" rel="stylesheet">
  <script src="/js/jquery-3.3.1.js"></script>
  <script src="/js/bootstrap.js"></script> 

  

  <!-- include summernote css/js-->
  <link href="/sumer/dist/summernote-lite.css" rel="stylesheet">
  <script src="/sumer/dist/summernote-lite.js"></script>
        <link href="estilos.css" rel="stylesheet" type="text/css">
        <script>
            $(function(){
                $("#includedContent").load("/header2");
            });
            
        </script>
    </head>
    
    <div id="includedContent"></div>

    <body>
        <div id="cinte" class = "mitesta">
            <div id="summernote" class="mitest"><p>Hello Summernote</p></div>
                <script>
                    $(document).ready(function() {
                        $('#summernote').summernote();
                    });
                 </script>
        </div>
      </body>

</html>