<html>
    <head>
        <script src="/js/jquery-3.3.1.js"></script>
        <script>
            $(function(){
                $("#includedContent").load("/header2");
            });
        </script>
    </head>
    
    <div id="includedContent"></div>

    <body>
        
        <div class="container">

          <div class="starter-template">
            <h1>Gestor de Referencias Colaborativas</h1>
            <p class="lead">Insertar editor WYSIWYG aqui.</p>
          </div>

        </div><!-- /.container -->

      </body>

</html>