<!DOCTYPE html>
<html lang="es">
<head>

    <meta charset="UTF-8">
    <title>Document titulooo</title>

<script src="/js/jquery-3.3.1.js"></script>


<script>
    console.log("TOMAAAA LO LEVANTE")
    $(document).ready(function(){
        $("#boton1").click(boom);
});

function boom(){
    console.log("Mandando ajax")
    $.ajax({
        data:{
            "ussr":$("#ussr").val(),
            "psswd":$("#psswd").val(),
        },
        type:"POST",
        url:"miajax",
        success: function(response){
            console.log("response MODIFICADA PUTO")
            console.log(response)
            $("#div1").html(response.nombre)
        },
        error: function(response){
            console.log("el recurso no es valido");
        }
    });
    console.log("Enviado")
}

</script>

</head>
<body>
    <p>Ingresate un usuario y contraseña</p>
    <input type="text" id="ussr"></input>
    <br>
    <input type="text" id="psswd"></input>
    <br>
    <button id="boton1">Ingresar</button>
    <br>
    <div id="div1"></div>
    
</body>
</html> 