@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Slab');
@import url("info.css");

* {
	box-sizing: border-box;
}
body {
	margin: 0;
	font-family: 'Roboto Slab', serif;
}
img {
	display: block;
	width: 100%;
	max-width: 100%;
}
h1,h2,h3,h4,h5,h6{
	margin: 0;     
    font-family: 'Permanent Marker', cursive;
}
.container {
	width: 100%;
	margin: auto;
}
.container--flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.colum {
	width: 100%;
}


/*--------------------------------*/

.main-header{
	width: 100%;
}
.logo{
	display: none;
	font-size: 1.55em;
	padding: 10px;
	font-weight: 100;
	color: white;
	position: relative;
	z-index: 1500;
}
.main-header [class*="icon-"]:before {
	position:  relative;
	top: 2px;
	right: 5px;
}



/*--------------------------------*/

.main-nav {
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.8);
	z-index: 2000;
	padding: 10px;
}
.icon-menu {
	display: block;
	color: white;
	height: 35px;
	width: 35px;
	margin-bottom: 5px;
}
.menu {
	position: absolute;
	top: 50px;
	left: 0;
	width: 100%;
	background: rgba(0,0,0,0.8);
	padding: 0;
	margin: 0;
	list-style: none;
	text-align: center;
	height: 0;
	overflow: hidden;
	transition: height .3s linear;
}
.menu__item {
	cursor: pointer;
}
.menu__link {
	display: block;
	padding: 15px 25px;
	color: white;
	text-decoration: none;
}
.menu__link:hover {
	background: #15478e;
}
.menu__link--select {
	background: #15478e;
}
.mostrar {
	height: 153px;

}

/*--------------------------------*/

.banner {
	margin-top: -60px;
	position: relative;
}
.banner:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.8);
	z-index: 1000;
	top: 0;
}
.banner__img {
	width: 100%;
	height: 500px;
	object-fit: cover;
}
.banner__content {
	text-align: center;
	position: absolute;
	z-index: 1500;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	font-size: 1.3em;
	font-weight: bold;
	padding: 0.01em 16px;
}
.banner__width{
	width: 70%;
}
.banner__txt {
	height: 10px;
}

.banner__input {
	border: 0;
	padding: 8px;
	display: block;
	width: 100%;
	border-radius: 10px;
}

.banner__btn {
	padding: 10px 20%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	font-size: 0.7em;
	-webkit-transition-duration: 0.4s; /* Safari */
	transition-duration: 0.4s;
	cursor: pointer;
	color: black;
	border: 3px solid #555555;
	border-radius: 12px;
	margin-bottom: 10px;
}

.banner__btn:hover {
	background-color: #555555;
	color: white;
}

.banner__card {
	box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
    background-color: #c0c0c0 !important;
}

/*--------------------------------*/

.group--color .container {
	background: #15478e;
	color: white;
	padding: 10px;
	text-align: center;
}

.main__title {
	margin: 15px 0;
	font-size: 1.8em;
	font-weight: 100;
}


.group__title {
	font-size: 1.5em;
}

.column__title{
	font-size: 1.3em;
}

.main__about__description .container {
	padding: 10px;
	text-align: center;
}



/*----------------Estilos del Footer----------------*/

.main-footer{
	background: #222;
	color: white;
	padding: 10px;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 0.8em;
}

.copy{
	text-align: center;
	margin: auto;
	margin-top: 15px;
}

@media screen and (min-width:485px) {
	.logo{
		display: block;
	}
	.banner {
		margin-top: -125px;
	}
	.banner__btn {
		font-size: 0.8em;
	}
	.banner__content {
		top: 60%;
	}
	.banner__width{
		width: 50%;
	}
	.column--33{
		width: 30%
	}
	.main__title{
		font-size: 2.1em;
	}
	.group__title {
		font-size: 1.8em;
	}
}

@media screen and (min-width:768px) {
	.logo{
		font-size: 2em;
	}

	.icon-menu{
		display: none;
	}
	.main-nav{
		padding: 0;
	}
	.menu{
		position: static;
		display: flex;
		height: auto;
		width: auto;
		margin-left: 50px;
	}
	.banner__btn {
		padding: 10px 15%;
	}
	.banner{
		margin-top: -120px;
	}
	.group{
		padding: 10px;
	}
	.main__title{
		font-size: 2.3em;
	}
	.group__title{
		font-size: 2em;
	}
}

@media screen and (min-width:1024px) {
	.logo{
		font-size: 3em;
	}
	.banner{
		margin-top: -145px;
	}
	.banner__content{
		font-size: 1.8em;
	}
	.banner__img{
		height: 650px;
	}
	.group{
		padding: 30px;
	}
	.main__title{
		font-size: 2.5em;
	}
	.group__title{
		font-size: 2.2em;
	}
}