#cuerpin{
    background-image: url("/static/img/banner-inicio.jpg");
    margin-top: 30px;
    color: black;
    padding: 10px;
}

.solicitud1{
    background-color: bisque;
    border-left: solid 1px black;
    padding: 5px;
}

.solicitud2{
    background-color: burlywood;
    border-left: solid 1px black;
    padding: 5px;   
}