{% extends "header.html" %}
{% block title %}index{% endblock %}
{% block body %}
<link rel="stylesheet" href="/static/login.css" type="text/css">
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}


<tbody>
    {% for contact in contacts %}
    <tr>
      <td>{{contact.1}}</td>
      <td>{{contact.2}}</td>
      <td>
        <a href="/edit/{{contact.0}}" class="btn btn-secondary">edit</a>
        <a href="/delete/{{contact.0}}" class="btn btn-danger btn-delete">delete</a>
      </td>
    </tr>
    {% endfor %}
  </tbody>