<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Gestor Referencias Colaborativas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }
  </style>
</head>
<body>
  <nav class="teal lighten-1 white-text" role="navigation">
    <div class="nav-wrapper container">
      <a id="logo-container" href="{{ url_for('home') }}" class="brand-logo">Gestor Referencias Colaborativas</a>
      <ul class="right hide-on-med-and-down">
          <li><a href="/logout">Logout</a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container main">
      <div class="section">
  
        <!--   Icon Section   -->
        <div class="row">
          <div class="col s12 m4">
              {% if session['permiso'] != 'c','b' %}
              <br><br>
              <form method="post" action="/grupo/{{session['grupo']}}/listaUsuarios" align="center">
              <button class="btn waves-effect waves-light center" >
                <i class="material-icons right">people</i>  
                <input type="submit" class="white-text" value="Ver Lista de Participantes" name="crearGrupo"/>
              </button>
              </form>
              <div>
                  <br>
              </div>
              <form method="post" action="/grupo/{{session['grupo']}}/agregarUsuario" align="center">
              <button class="btn waves-effect waves-light center" >
                  <i class="material-icons right">group_add</i>  
                  <input type="submit" class="white-text" value="Agregar Nuevo Participante" name="crearGrupo"/>
              </button>
              </form>
              <div>
                  <br>
              </div>
              {% endif %}
              {% if session['permiso'] != 'c' %}
              <form  method="post" action="/grupo/{{session['grupo']}}/crearReferencia" align="center">
              <button class="btn waves-effect waves-light center">
                <i class="material-icons right">library_add</i>  
                <input type="submit" class="white-text" value="Crear Nueva Referencia" name="crearGrupo"/>
              </button>
              </form>
              {% endif %}   
          </div>
  
          <div class="col s12 m5">
              
              <h5>Grupo - {{session['nombregrupo'][0] }}</h5>
        
              <hr/>
              <h3>Referencias</h3>
              <table class = "striped bordered">
               <thead>
                  <tr>
                      <th>nº Referencia</th>
                      <th>Descripción</th>
                      <th>Link</th>
                      <th>Cita</th>
                      <th>Fecha y Hora</th>
                  </tr>
               </thead>
               
               <tbody>
                  {% if referencias is not none %}
                  {% set cnt = 0 %} 
                  {% for referencia in referencias %}
                  {% set cnt = cnt + 1 %}
                  <tr>
                    <td>{{cnt}}</td>
                    <td>{{referencia.1|safe}}</td>
                    <td>{{referencia.2}}</td>
                    <td>{{referencia.3|safe}}</td>
                    <td>{{referencia.4}}</td>
                  </tr>
                  {% endfor %}
                  {% else %}
                  <tr>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                     <td></td>
                  </tr>
                  {% endif %}
                </tbody>
                </table>
          </div>
        </div>
  
      </div>
      <br><br>
    </div>

  <footer class="page-footer teal lighten-1 center white-text">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://www.unla.edu.ar/">UNLa</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
