<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Gestor Referencias Colaborativas</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="/static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="/static/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <style>
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  .main {
    flex: 1 0 auto;
  }
  </style>
</head>
<body>
  <nav class="teal lighten-1 white-text" role="navigation">
    <div class="nav-wrapper container"><a id="logo-container" href="{{ url_for('home') }}" class="brand-logo">Gestor Referencias Colaborativas</a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/logout">About</a></li>
      </ul>

      <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
  </nav>

  <div class="container main">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4 offset-m4">
          <br>
          <div class="card">
            <div class="card-action teal lighten-1 white-text">
              <h3 class="center">Registro</h3>
            </div>
            <p>
            {% with messages = get_flashed_messages() %}
			      {% if messages %}
			      {% for message in messages %}
    		    <h5 align="center" style="color: #FF0000;">{{ message }}</h5>
			      {% endfor %}
			      {% endif %}
            {% endwith %}
            </p>
           
            <form action="/signup" method="POST">
            <div class="card-content">
              
              <div class="form-field">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" placeholder="apellido">
              </div><br>

              <div class="form-field">
                  <label for="nombre">Nombre</label>
                  <input type="text" name="nombre" placeholder="nombre">
              </div><br>

              <div class="form-field">
                <label for="email">Email</label>
                <input type="text" value="" placeholder="Email" name="email">
              </div><br>

              <div class="form-field">
                <label for="password">Contraseña</label>
                <input type="password" name="password" placeholder="Password">
              </div><br>
              
              <div class="form-field">
                <button class="btn-large waves-effect waves-dark" type="submit" style="width:100%;">Registrar!</button>
              </div><br><br>
            </form>

			        <div align="center">
				        <a href="{{ url_for('forgot') }}">¿Has olvidado los datos de la cuenta?</a>
              </div>
            
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="page-footer teal lighten-1 center white-text">
    <div class="footer-copyright">
      <div class="container">
      Made by <a class="orange-text text-lighten-3" href="http://www.unla.edu.ar/">UNLa</a>
      </div>
    </div>
  </footer>


  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script src="/static/js/materialize.js"></script>
  <script src="/static/js/init.js"></script>

  </body>
</html>
